.button-opacity {
	background: rgba(255,255,255,0.2);
	display: inline-block;
	@include border-radius(25px);
	padding: 10px 20px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3),0px 1px 1px rgba(255,255,255,0.5) inset;
	p {
		margin: 0;
	}
}