footer {
	border-top: 3px solid grey;
	margin-top: 50px;
	height: 400px;
	background: url("images/footer-background.jpg") center bottom no-repeat #1e1f22;
	padding-top: 75px;
	h1 {
		color: #CCC;
	}
}