.portfolio .row {
	margin-bottom: 30px;
}
.portfolio .article  {
	h1 {
		margin-top: 1em;
		font-weight: bold;
	}

	.description {
		padding-left: 15px;
		border-left: 2px #18b2e6 solid;
	}
}


/*  #Single Portfolio
================================================== */

.portfolio-header {
	padding-top: 100px;
	height: 450px;
	background: #3f3a46;
}
.question {
	background: #FFF;
	padding: 25px;
	text-align: center;
}