$container_width: 1100px; // Main container width
$gutter_width: 3%;
$columns: 12; // Twelve columns

/*  #Calculate the columnwidths  */
/*  Calculate the width of a single column and multiple it by columncount
================================================== */

@for $i from 1 through $columns {
	.column-#{$i} {
		width: (((100% + $gutter_width) / $columns) * $i) - $gutter_width;
	}
}


/*  #Grid Styles
================================================== */

.container {
	max-width: $container_width;
	margin: 0 auto;
	@include pie-clearfix;
}
.row {
	width: 100%;
	@include pie-clearfix;
}
// Select all element that contains class 'column'
[class*="column"] {
	float: left;
	margin-left: $gutter_width;
	&:first-child {
		margin-left: 0;
	}
}


/*  #Mobile Phone
================================================== */

// Give the maincontainer padding so it doesn't stretch to the sides
@media only screen and (max-width: $container_width) {
	.container {
		width: 90%;
	}
}

// Change the column layouts to stretch 100% stacking columns on top of eachother
@media only screen and (max-width: 768px) {
	[class*="col"] {
		width: 100%;
		margin: 10px 0;
	}
}